/* Global variable scope */
$brand-color: #c62f28;
$sub-brand-color: #dbd52e;
$text-color: #333;
$sub-text-color: #eee;
$font-body: 'Nunito Sans', sans-serif;
$font-header: 'Didot', serif;
$font-sub-header:  'Nunito Sans Bold', sans-serif;

@font-face {
  font-family: Didot;
  src: url(../../font/didot_bold.ttf);
}

@font-face {
  font-family: Nunito Sans;
  src: url(../../font/nunitosans-Light.ttf);
}
@font-face {
  font-family: Nunito Sans Bold;
  src: url(../../font/nunitosans-nunitosans-SemiBold.ttf);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $text-color;
  font-family: $font-body;
  overflow-x: hidden;
}

h1, h2, h3 {
  text-align: center;
  font-family: $font-sub-header;
}

a:nth-child(n) {
  text-decoration: none;
  color: $text-color;
}