body {
  background-color: #eee;
}

main {
  display: flex;
  justify-content: center;
  align-items:baseline;

  #about-me {
    width: 40%;
    margin: 100px 20px;
  
    #portfolio {
      color: #c62f28;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 40%;
    margin: 100px 20px;
  
    input, textarea {
      margin: 10px;
      padding: 5px;
      width: 90%;
      border: none;
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.1) inset;
    }
    input:nth-last-child(2) {
      height: 10rem;
    }
    #send {
      background-color: #c62f28;
      box-shadow: none;
      margin: 20px 30px;
      padding: 10px;
      width: 100px;
      align-self: flex-start;
      color: #fff;
    }
  } 
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}